/* Generic */

section {
  padding: 4% 0;
}

.shaded-bg {
  background-color: #f1f0f0;
}

/* Home section */

.home-section {
  position: relative;
  top: 76px;
  margin-bottom: 76px;
}

.home-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container > video {
  width: 100%;
}

.video-description {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

/* About Us section */

.aboutus-container {
  text-align: center;
}

.about-us-text {
  color: #575755;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/* Room Carousel Starts */

.room-carousel-container {
  height: 80vh;
}

.room-carousel .carousel-control-next-icon,
.room-carousel .carousel-control-prev-icon {
  filter: invert(1) grayscale(100);
}

/* Services section */

.services-section {
  position: relative;
}

.services-content {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 15%;
  left: 8%;
}

.services-description {
  padding-top: 3%;
}

.service-icon-col {
  padding: 3% 3%;
}

.service-icon-text {
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  transform: translate(-30%, -120%);
  padding: 1% 5%;
}

/* Blogs section */

.blogs-section {
  padding: 4% 7%;
}

.blog-card {
  text-align: center;
}

.slick-slide > div {
  margin: 0 10px;
}

.modal-90w {
  min-width: 90%;
}

.text-ca {
  text-align: center;
}

.text-sa {
  text-align: start;
}

.display-linebreak {
  white-space: pre-line;
}

.modal-img {
  float: left;
  margin-right: 1rem;
}

/* Contactus section */

.contactus-section {
  padding: 4% 7%;
}

.contactus-section h3 {
  margin-bottom: 48px;
}

.contactus-section p {
  margin-bottom: 8px;
  display: inline-block;
}

.contactus-section svg {
  margin-right: 16px;
}

.address-icon {
  vertical-align: super;
}

@media (max-width: 480px) {
  .video-description {
    font-size: 1.75rem;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .video-description {
    font-size: 3rem;
  }
}
