.home-block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-block video {
  width: 100%;
  object-fit: fill;
}

.block {
  padding: 4% 0;
}

/* Text Anmimation */

.video-description {
  position: absolute;
  top: 45%;
  left: 36%;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-description .static-text {
  color: #fff;
  font-size: 70px;
  font-weight: 500;
}

.video-description .animated-text {
  margin-left: 0px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.animated-text li {
  list-style: none;
  color: #fff;
  font-size: 60px;
  font-weight: 530;
  position: relative;
  top: 0;
}

.animated-text li p {
  position: relative;
  margin: 5px 0;
  line-height: 30px;
  border-right: 5px solid;
  animation: typing 2s infinite, cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* .animated-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 0px;
  animation: typing 3s steps(13) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
} */

/* End of text animation */

.about-us-text {
  text-align: center;
  font-size: 25px;
  color: #575755;
  align-items: center;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.3;
}

.title-holder {
  text-align: center;
  margin: 0 0 40px;
}

.title-holder h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
}

.title-holder .subtitle {
  color: #999999;
}

.title-holder .subtitle:before {
  content: "-";
  margin: 0 5px 0 0;
}

.title-holder .subtitle:after {
  content: "-";
  margin: 0 0 0 5px;
}

/* Room Carousel Starts */

.room-carousel-container {
  height: 80vh;
}

/* Services section */

.services-section {
  position: relative;
}

.services-content {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 15%;
  left: 8%;
}

.services-description {
  padding-top: 3%;
}

.service-icon-col {
  padding: 3% 3%;
}

.service-icon-text {
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  transform: translate(-35%, -120%);
  padding: 1% 5%;
}

/* Blogs section */

.blogs-section {
  padding: 4% 7%;
}

.blog-card {
  text-align: center;
}

.slick-slide > div {
  margin: 0 10px;
}

.modal-90w {
  min-width: 90%;
}

.text-ca {
  text-align: center;
}

.text-sa {
  text-align: start;
}

.display-linebreak {
  white-space: pre-line;
}

/* Contactus section */

.contactus-section {
  padding: 4% 7%;
}

.contactus-section h3 {
  margin-bottom: 48px;
}

.contactus-section p {
  margin-bottom: 8px;
  display: inline-block;
}

.contactus-section svg {
  margin-right: 16px;
}
